<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>
<% if(page.comments && theme.utterances.enabled){ %>
    <div class="blog-post-comments">
        <div id="utterances_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>

<!-- <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'w0t9aXGQs14nHgvoj3BsuKaw-gzGzoHsz',
            appKey: 'KPQqimAyUYPM0wSBJySvAW7F'
        })
    </script> -->